<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>ALT+F4</title>
</head>
<body class="bg-gradient">
<h1 class="first" style="margin-top: 8%">ALT+F4</h1>
<p class="first" style="margin: auto;text-align: center;"><img src="https://mediadirectiongroup.ru/upload/iblock/d3e/media_wise_logo_white%20(1).png" style="height: 70px;margin: auto;"></p>
<form class="elements" method=post enctype=multipart/form-data>
    <div class="formmain" style="height: 300px; margin-top: 20px">
    {{ message }}
    <input class="form" placeholder="Столбец с датами" type="text" id="timestamp_column" name="timestamp_column">
    <input class="form" placeholder="Номер строки с названиями столбцов" type="text" id="header_row" name="header_row">
    <input class="form" placeholder="Столбец целевой переменной" type="text" id="prediction_column" name="prediction_column">
    <input class="form" placeholder="Длина предсказания" type="text" id="length" name="length">
    <input style="margin-top: 5px" class="drop-container" type=file name=file><button class="loginbutton" type=submit><span>Загрузить</span></button>
    </div>
</form>
</body>
</html>
